In [1]:
from pyspark.sql import SparkSession

session = SparkSession.builder.appName("rac").getOrCreate()
sc = session.sparkContext

In [3]:
df = session.read.option('header','true').csv('/Users/rcreager/Downloads/Toggl_time_entries_2016-08-01_to_2017-07-31.csv')

In [4]:
df

DataFrame[User: string, Email: string, Client: string, Project: string, Task: string, Description: string, Billable: string, Start date: string, Start time: string, End date: string, End time: string, Duration: string, Tags: string, Amount (): string]

In [6]:
df.limit(10).toPandas()

,User,Email,Client,Project,Task,Description,Billable,Start date,Start time,End date,End time,Duration,Tags,Amount ()
0,tslmy,tslmy@outlook.com,None,Study,None,phys380,No,2016-08-04,22:38:46,2016-08-04,23:12:40,00:33:54,None,None
1,tslmy,tslmy@outlook.com,None,Study,None,phys380,No,2016-08-04,23:18:38,2016-08-04,23:19:27,00:00:49,None,None
2,tslmy,tslmy@outlook.com,None,Study,None,phys380,No,2016-08-05,00:27:14,2016-08-05,00:47:24,00:20:09,None,None
3,tslmy,tslmy@outlook.com,None,Study,None,phys380,No,2016-08-05,01:00:23,2016-08-05,01:01:38,00:01:15,None,None
4,tslmy,tslmy@outlook.com,None,Study,None,phys380,No,2016-08-05,01:03:01,2016-08-05,01:16:31,00:13:30,None,None
5,tslmy,tslmy@outlook.com,None,Study,None,phys380,No,2016-08-05,01:27:49,2016-08-05,02:18:38,00:50:49,None,None
6,tslmy,tslmy@outlook.com,None,Study,None,phys380,No,2016-08-05,03:55:32,2016-08-05,04:20:33,00:25:01,None,None
7,tslmy,tslmy@outlook.com,None,Study,None,phys380,No,2016-08-05,04:35:17,2016-08-05,05:12:50,00:37:33,None,None
8,tslmy,tslmy@outlook.com,None,Study,None,phys380,No,2016-08-05,20:59:51,2016-08-05,21:13:44,00:13:53,None,None
9,tslmy,tslmy@outlook.com,None,Study,None,phys380,No,2016-08-05,21:29:58,2016-08-05,21:37:22,00:07:24,None,None

In [13]:
from pyspark.sql import functions as f
filtered_df = df.filter(f.col('Project') == 'Study')

selected_df = filtered_df.select('Description')
counts_df = selected_df.groupby('Description').count().sort(f.col('count').desc())

counts_df.cache()

DataFrame[Description: string, count: bigint]

In [23]:
counts_df.withColumnRenamed('Description','activity').withColumn('countString',f.col('count').cast('string'))

DataFrame[activity: string, count: bigint, countString: string]

In [34]:
import pandas as pd

df = pd.read_csv('/Users/rcreager/Downloads/Toggl_time_entries_2016-08-01_to_2017-07-31.csv',usecols=['Project','Description'])

selected_df = df[df.Project == 'Study']
selected_df.groupby('Description').Project.count().sort_values(ascending=False).reset_index()

                       Description  Project
0                           Review       55
1                          phys280       21
2                          phys380       11
3  Electrical Circuits and Devices        6
4                            ANSYS        2
5                         emls129r        1
6                             Exam        1